---
import SectionContainer from "./SectionContainer.astro";
import Timeline from '@/components/Timeline.astro'
import AstroIcon from "@/icons/Astro.astro";
import Firebase from "@/icons/Firebase.astro";
import NextJs from "@/icons/NextJs.astro";
import Tailwind from "@/icons/Tailwind.astro";
import Shopify from '@/icons/Shopify.astro';
import Wordpress from '@/icons/Wordpress.astro';
import Git from '@/icons/Git.astro';
import Strapi from '@/icons/Strapi.astro';
import Typescript from '@/icons/Typescript.astro';
import Envelope from "@/icons/Envelope.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Instagram from "@/icons/Instagram.astro";
import React from "@/icons/React.astro";
import X from "@/icons/X.astro";
import Telegram from "@/icons/Telegram.astro";
import Hashnode from "@/icons/Hashnode.astro";
---

<SectionContainer id="sobreMi">
    <h2 class="text-4xl font-semibold text-right">
        Sobre mi<span class="text-[color:var(--yellow)]">.</span>
    </h2>
    <hr class="h-px w-full my-20 bg-[#E3E1E6] border-0">
    <div>
        <p class="text-balance break text-right leading-8 text-xl mb-8">Hola, mi nombre es Francis. 🤗 Soy un desarrollador frontEnd apasionado por crear experiencias web atractivas y funcionales. Mi enfoque se centra en combinar diseño y tecnología para construir interfaces intuitivas que cumplan con las necesidades de los usuarios.</p>
        <p class="text-balance break text-right leading-8 text-xl mb-8">
            Trabajo de manera colaborativa con diseñadores y otros desarrolladores para transformar conceptos en productos finales. Siempre busco mejorar mis habilidades y mantenerme actualizado con las últimas tendencias y tecnologías del sector.
        </p>
        <p class="text-balance break text-right leading-8 text-xl mb-8">
            Mi objetivo es seguir desarrollando proyectos desafiantes que no solo cumplan con estándares técnicos, sino que también proporcionen una experiencia de usuario excepcional. Estoy comprometido con la calidad del código y la optimización del rendimiento, ayudando a las empresas a alcanzar sus metas digitales.
        </p>
        
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 gap-y-4 gap-x-20">
            <div class="mb-6">
                <h2 class="text-2xl font-semibold text-right mb-6">
                    Habilidades<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                <div class="flex items-center justify-end gap-4 flex-wrap">
                    <React class="size-10"/>
                    <NextJs class="size-10"/>
                    <AstroIcon class="size-10"/>
                    <Tailwind class="size-10"/>
                    <Firebase class="size-10"/>
                    <Shopify class="size-10"/>
                    <Wordpress class="size-10"/>
                    <Git class="size-10"/>
                    <Typescript class="size-10"/>
                    <Strapi class="size-10"/>
                </div>
            </div>
                <div class="row-span-4">
                <h2 class="text-2xl font-semibold text-right mb-6">
                    Experiencia<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                    <Timeline/>
                </div>
            <div>
                <h2 class="text-2xl font-semibold text-right mb-6">
                    Redes sociales<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                <div class="flex flex-row flex-wrap items-center justify-end gap-4">
                    <a href="https://www.linkedin.com/in/ingfranciscastillo/" target="_blank" rel="noopener noreferrer" aria-label="linkedIn page">
                        <LinkedIn class="size-8"/>
                        <span class="sr-only">LinkedIn Page</span>
                    </a>
                    <a href="https://www.instagram.com/ingfranciscastillo/" target="_blank" rel="noopener noreferrer" aria-label="Instagram account">
                        <Instagram class="size-10"/>
                        <span class="sr-only">Instagram account</span>
                    </a>
                    <a href="https://t.me/Francissmiguell" target="_blank" rel="noopener noreferrer" aria-label="Telegram account">
                        <Telegram class="size-8"/>
                        <span class="sr-only">Telegram profile</span>
                    </a>
                    <a href="https://hashnode.com/@ingfranciscastillo" target="_blank" rel="noopener noreferrer" aria-label="Hashnode page">
                        <Hashnode class="size-8"/>
                        <span class="sr-only">Hasnode Page</span>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="X page">
                        <X class="size-7"/>
                        <span class="sr-only">X Page</span>
                    </a>
                </div>
            </div>
             
        </div>

    </div>
</SectionContainer>