---
import Timeline from '@/components/Timeline.astro'
import AstroIcon from "@/icons/Astro.astro";
import Firebase from "@/icons/Firebase.astro";
import NextJs from "@/icons/NextJs.astro";
import Tailwind from "@/icons/Tailwind.astro";
import Shopify from '@/icons/Shopify.astro';
import Wordpress from '@/icons/Wordpress.astro';
import Git from '@/icons/Git.astro';
import Strapi from '@/icons/Strapi.astro';
import Typescript from '@/icons/Typescript.astro';
import LinkedIn from "@/icons/LinkedIn.astro";
import Instagram from "@/icons/Instagram.astro";
import React from "@/icons/React.astro";
import Hashnode from "@/icons/Hashnode.astro";
import Svelte from '@/icons/svelte.astro';
import Hono from '@/icons/Hono.astro'
import Drizzle from '@/icons/Drizzle.astro';
import Turso from '@/icons/Turso.astro';
import Threads from '@/icons/Threads.astro';
---

<section class="w-full px-4 sm:px-8 lg:px-16" id="sobreMi">
    <h2 data-aos="fade-left" data-aos-delay="300" class="text-4xl font-semibold text-right mt-10">
        Sobre mi<span class="text-[color:var(--yellow)]">.</span>
    </h2>
    <hr class="h-px w-full my-10 bg-[#E3E1E6] border-0">
    <div>
        <p data-aos="fade-left" data-aos-delay="300" class="text-balance break text-right leading-8 text-xl mb-8">Hola, mi nombre es Francis. 🤗 Soy un desarrollador frontEnd apasionado por crear experiencias web atractivas y funcionales. Mi enfoque se centra en combinar diseño y tecnología para construir interfaces intuitivas que cumplan con las necesidades de los usuarios.</p>
        <p data-aos="fade-left" data-aos-delay="400" class="text-balance break text-right leading-8 text-xl mb-8">
            Trabajo de manera colaborativa con diseñadores y otros desarrolladores para transformar conceptos en productos finales. Siempre busco mejorar mis habilidades y mantenerme actualizado con las últimas tendencias y tecnologías del sector.
        </p>
        <p data-aos="fade-left" data-aos-delay="500" class="text-balance break text-right leading-8 text-xl mb-8">
            Mi objetivo es seguir desarrollando proyectos desafiantes que no solo cumplan con estándares técnicos, sino que también proporcionen una experiencia de usuario excepcional. Estoy comprometido con la calidad del código y la optimización del rendimiento, ayudando a las empresas a alcanzar sus metas digitales.
        </p>
        
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 gap-y-4 gap-x-20">
            <div class="mb-6">
                <h2 data-aos="fade-right" data-aos-delay="300" class="text-2xl font-semibold text-right mb-6">
                    Habilidades<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                <div data-aos="fade-right" data-aos-delay="300" class="flex items-center justify-end gap-4 flex-wrap">
                    <React class="size-8"/>
                    <NextJs class="size-8"/>
                    <AstroIcon/>
                    <Tailwind class="size-8"/>
                    <Firebase class="size-8"/>
                    <Shopify class="size-8"/>
                    <Wordpress class="size-8"/>
                    <Git class="size-8"/>
                    <Typescript class="size-8"/>
                    <Strapi class="size-8"/>
                    <Svelte class="size-8"/>
                    <Hono class="size-8"/>
                    <Drizzle class="size-8"/>
                    <Turso class="size-8"/>
                </div>
            </div>
                <div class="row-span-4">
                <h2 data-aos="fade-left" data-aos-delay="300" class="text-2xl font-semibold text-right mb-6">
                    Experiencia<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                    <Timeline  />
                </div>
            <div>
                <h2 data-aos="fade-right" data-aos-delay="300" class="text-2xl font-semibold text-right mb-6">
                    Redes sociales<span class="text-[color:var(--yellow)]">.</span>
                </h2>
                <div data-aos="fade-right" data-aos-delay="300" class="flex flex-row flex-wrap items-center justify-end gap-4">
                    <a href="https://www.instagram.com/ingfranciscastillo/" target="_blank" rel="noopener noreferrer" aria-label="Instagram account">
                        <Instagram class="size-8"/>
                        <span class="sr-only">Instagram account</span>
                    </a>
                    <a href="https://www.threads.net/@ingfranciscastillo" target="_blank" rel="noopener noreferrer" aria-label="Threads account">
                        <Threads class="size-8"/>
                        <span class="sr-only">Threads account</span>
                    </a>
                    <a href="https://www.linkedin.com/in/ingfranciscastillo/" target="_blank" rel="noopener noreferrer" aria-label="linkedIn page">
                        <LinkedIn class="size-8"/>
                        <span class="sr-only">LinkedIn Page</span>
                    </a>
                    <a href="https://hashnode.com/@ingfranciscastillo" target="_blank" rel="noopener noreferrer" aria-label="Hashnode page">
                        <Hashnode class="size-8"/>
                        <span class="sr-only">Hasnode Page</span>
                    </a>
                </div>
            </div>
             
        </div>

    </div>
</section>