---
import SectionContainer from "./SectionContainer.astro";
---

<script>
    const form = document.querySelector("#form");
    const submit = document.querySelector("#submit");

    submit?.addEventListener("click", () => {
        (form as HTMLFormElement)?.reset();
    })

</script>

<SectionContainer id="contacto">
    <h2 class="text-4xl text-left font-semibold">
        Contactame<span class="text-[color:var(--yellow)] ">.</span>
    </h2>
    <hr class="h-px w-full my-20 bg-[#E3E1E6] border-0">
    <div>
            <p class="mb-8 lg:mb-16 text-xl font-light text-center text-[color:var(--text-color)]">¡Me encantaría saber de ti! Si tienes alguna pregunta, comentario o estás interesado en colaborar en un proyecto, no dudes en ponerte en contacto.</p>
            <form id="form" action="https://formspree.io/f/mblreana" method="post" class="space-y-8">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-[color:var(--text-color)]">Tu nombre</label>
                    <input type="text" name="name" id="name" class="bg-[color:var(--smoke)] text-[color:var(--bg-color)] text-sm focus:ring-[color:var(--smoke)] focus:border-[color:var(--smoke)] block w-full p-2.5" placeholder="Nombre completo" required>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-[color:var(--text-color)]">Tu email</label>
                    <input type="email" name="email" id="email" class="bg-[color:var(--smoke)] text-[color:var(--bg-color)] text-sm focus:ring-[color:var(--smoke)] focus:border-[color:var(--smoke)] block w-full p-2.5" placeholder="email@email.com" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-[color:var(--text-color)]">Tu mensaje:</label>
                    <textarea name="message" id="message" rows="6" class="bg-[color:var(--smoke)] text-[color:var(--bg-color)] text-sm focus:ring-[color:var(--smoke)] focus:border-[color:var(--smoke)] block w-full p-2.5" placeholder="Leave a comment..."></textarea>
                </div>
                <button id="submit" type="submit" class="font-semibold mt-10 px-4 py-3 bg-[color:var(--blue)] hover:bg-[#12266e] transition duration-300 flex gap-x-2">
                Enviame un mensaje
            </button>
            </form>
    </div>
</SectionContainer>