---
import { Image } from "astro:assets";
import Logo from '../../public/Logo.webp'

import Copyright from "@/icons/Copyright.astro";
import SectionContainer from "./SectionContainer.astro";
import Github from "@/icons/github.astro";
import LinkedInFooter from "@/icons/LinkedInFooter.astro";
import XFooter from "@/icons/XFooter.astro";
---

<script>
    const Year = document.querySelector("#year");
    document.addEventListener("DOMContentLoaded", () => {
        let currentYear = new Date().getFullYear();
        Year.textContent = currentYear.toString();
    })
</script>

<SectionContainer>
    <footer>
        <div class="md:flex md:justify-between">
            <div class="me-3 md:mb-0">
                <a href="/" class="flex items-center">
                    <Image loading="lazy" src={Logo} class="size-36" alt="Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Sigueme.</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a target="_blank" href="https://github.com/ingfranciscastillo" class="hover:text-[color:var(--yellow)]" aria-label="github">Github</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/ingfranciscastillo/" class="hover:text-[color:var(--yellow)]" aria-label="instagram">Instagram</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contáctame</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="mailto:franciscastillocruz@hotmail.com" class="hover:text-[color:var(--yellow)]" aria-label="Email">Correo Electronico</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://t.me/Francissmiguell" class="hover:text-[color:var(--yellow)]" aria-label="Telegram">Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="flex items-center text-sm text-[color:var(--smoke)] sm:text-center">
                    <Copyright/>
                    <span id="year" class="mr-2"></span>
                    <p> Francis Castillo - All Rights Reserved.</p>
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a target="_blank" href="https://github.com/ingfranciscastillo" class="text-gray-500 hover:text-[color:var(--yellow)] ms-5" aria-label="Github">
                    <Github class="size-4"/>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/ingfranciscastillo/" class="text-gray-500 hover:text-[color:var(--yellow)] ms-5" aria-label="LinkedIn">
                    <LinkedInFooter class="size-4"/>
                </a>
                <a target="_blank" href="#" class="text-gray-500 hover:text-[color:var(--yellow)] ms-5" aria-label="x">
                    <XFooter class="size-4"/>
                </a>
            </div>
        </div>
    </footer>

</SectionContainer>