---
interface Props {
    href: string;
}

const {href} = Astro.props
---

<a href={href} class="w-full text-4xl relative hover:text-[color:var(--blue)] hover:translate-x-10 hover:text-5xl duration-300 transition">
    <slot/>
</a>