---
import Envelope from "@/icons/Envelope.astro";
---


<header class="w-full pt-20 px-4 sm:px-8 lg:px-16">
    <div class="hero-top">
        <h2 data-aos="fade-right" data-aos-delay="300" class="text-6xl lg:text-9xl font-black text-balance">Hola! Soy Francis Castillo<span class="text-[color:var(--yellow)] ">.</span> </h2>
        <h2 data-aos="fade-right" data-aos-delay="400" class="text-3xl lg:text-6xl font-normal text-balance mt-4 mb-10">Desarrollador FrontEnd<span class="text-[color:var(--yellow)] ">.</span></h2>
        <a data-aos="fade-right" data-aos-delay="500" href="#proyectos" class="font-semibold px-4 py-3 bg-[color:var(--blue)] hover:bg-[#12266e] transition duration-300">Proyectos</a>
    </div>
    <hr class="h-px w-full my-20 bg-[#E3E1E6] border-0">
    <div class="hero-bottom">
        <p data-aos="fade-left" data-aos-delay="300" class="text-balance break text-right leading-relaxed text-xl">Transformo ideas en experiencias digitales. Desarrollo interfaces modernas, funcionales y optimizadas para cautivar a tus usuarios. ¡Hagamos realidad tu próximo proyecto web!</p>
        <div data-aos="fade-left" data-aos-delay="400" class="flex flex-1 items-center justify-end gap-x-5">
            <a href="#contacto" class="font-semibold mt-10 px-4 py-3 bg-[color:var(--blue)] hover:bg-[#12266e] transition duration-300 flex items-center gap-x-2 cursor-pointer">
                <Envelope class="size-7"/>
                Contáctame
            </a>
        </div>
    </div>
</header>