---
import NavLinkItem from "./NavLinkItem.astro"
import { Image } from "astro:assets";
import Menu from "@/icons/Menu.astro";
import Close from "@/icons/Close.astro";
---

<nav id="top" class="w-4/5 h-16 py-10 mx-auto max-w-screen-xl flex items-center justify-between">
    <a href="/">
        <Image loading="eager" src="/logo.webp" alt='Logo' width={100} height={100} class='size-40'/>
    </a>
    <div class="hidden md:flex flex-row items-center gap-x-8">
        <NavLinkItem href="/" title="Inicio"/>
        <NavLinkItem href="#proyectos" title="Proyectos"/>
        <NavLinkItem href="#sobreMi" title="Sobre mi"/>
    </div>

    <div class="md:hidden transition-all duration-1000">
        <Menu class="size-10 transition-all duration-1000" id="menuButton"/>
        <Close class="hidden size-10 transition-all duration-1000" id="CloseMenu"/>
    </div>
</nav>

<nav id="MenuMobile" class="m-10 md:m-16 w-4/5 max-h-0 overflow-hidden gap-y-4 transition-all duration-500">
    <div class="flex flex-1 flex-col gap-y-4">
        <NavLinkItem href="/" title="Inicio"/>
        <NavLinkItem href="#proyectos" title="Proyectos"/>
        <NavLinkItem href="#sobreMi" title="Sobre mi"/>
    </div>
    <hr class="h-px w-full my-10 bg-[#E3E1E6] border-0">
</nav>

<script is:inline>
    const closeButton = document.querySelector('#CloseMenu');
    const Menu = document.querySelector('#MenuMobile');
    const menuButton = document.querySelector('#menuButton');

    closeButton?.addEventListener('click', () => {
        Menu?.classList.remove('max-h-60');
        Menu?.classList.add('max-h-0');
        menuButton.classList.add('block');
        menuButton.classList.remove('hidden');
        closeButton.classList.remove('block');
        closeButton.classList.add('hidden');
    });

    menuButton?.addEventListener('click', () => {
        Menu?.classList.add('max-h-60');
        Menu?.classList.remove('max-h-0');
        menuButton.classList.add('hidden');
        menuButton.classList.remove('block');
        closeButton.classList.remove('hidden');
        closeButton.classList.add('block');
    });

    window.addEventListener('scroll', () => {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            Menu?.classList.remove('max-h-60');
            Menu?.classList.add('max-h-0');
            menuButton.classList.add('block');
            menuButton.classList.remove('hidden');
            closeButton.classList.remove('block');
            closeButton.classList.add('hidden');
        }
    })

</script>