---

interface Props {
    href: string;
    title: string;
}

const { href, title } = Astro.props

---

<a href={href} class="hover:text-[color:var(--yellow)] leading-8 transition duration-300">
    { title }
</a>