---
import Gallery from "./Gallery.astro";
import SectionContainer from "./SectionContainer.astro";

---

<SectionContainer id="projectos">
    <h2 class="text-4xl font-semibold">
        Projectos<span class="text-[color:var(--yellow)] ">.</span>
    </h2>
    <hr class="h-px w-full my-20 bg-[#E3E1E6] border-0">
    <Gallery/>
</SectionContainer>