---
import Up from "@/icons/Up.astro";
---

<script>

    const scrollButton = document.querySelector('#scrollButton');

    window.onscroll = function() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            scrollButton?.classList.add("fixed");
            scrollButton?.classList.remove("hidden")
        } else {
            scrollButton?.classList.remove("fixed");
            scrollButton?.classList.add("hidden")
        }
    }

</script>

<a aria-label="Botón para subir" href="#top" id="scrollButton" class="hidden bottom-6 right-6 bg-[color:var(--blue)] transition duration-300 animate-bounce hover:animate-none motion-safe:animate-none">
    <Up class="size-12" />
</a>
