---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Favicon-white.png" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Francis Castillo | Portafolio</title>
		<meta name="title" content="Francis Castillo | Portafolio" />
		<meta name="description" content="Transformo ideas en experiencias digitales. Desarrollo interfaces modernas, funcionales y optimizadas para cautivar a tus usuarios. ¡Hagamos realidad tu próximo proyecto web!" />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://Francisportfolio.dev/" />
		<meta property="og:title" content="Francis Miguel Castillo Cruz | Portafolios" />
		<meta property="og:description" content="Transformo ideas en experiencias digitales. Desarrollo interfaces modernas, funcionales y optimizadas para cautivar a tus usuarios. ¡Hagamos realidad tu próximo proyecto web!" />
		<meta property="og:image" content="/Logo.webp" />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://Francisportfolio.dev/" />
		<meta property="twitter:title" content="Francis Miguel Castillo Cruz | Portafolios" />
		<meta property="twitter:description" content="Transformo ideas en experiencias digitales. Desarrollo interfaces modernas, funcionales y optimizadas para cautivar a tus usuarios. ¡Hagamos realidad tu próximo proyecto web!" />
		<meta property="twitter:image" content="/Logo.webp" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--bg-color: #151515;
		--text-color: #F9F6EF;
		--nav-color: #0d0d0d;
		--smoke: #E3E1E6;
		--blue: #193497;
		--yellow: #FCCB30;
		
	}
	html {
		font-family: "Geist", system-ui, sans-serif;
		background: var(--bg-color);
		color: var(--text-color);
		font-display: swap;
	}

	body {
		background-color: #18181b;
		background-size: auto;
		background-repeat: round;
	}
	
	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Thin.woff2");
		font-weight: 100;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-ExtraLight.woff2");
		font-weight: 200;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Light.woff2");
		font-weight: 300;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Regular.woff2");
		font-weight: 400;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Medium.woff2");
		font-weight: 500;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-SemiBold.woff2");
		font-weight: 600;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Bold.woff2");
		font-weight: 700;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-Black.woff2");
		font-weight: 800;
		font-style: normal;
		font-display: wrap;
	}

	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist-ExtraBold.woff2");
		font-weight: 900;
		font-style: normal;
		font-display: wrap;
	}

</style>
